# Arquivos do Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Arquivos do SQLite
*.db
*.db-journal

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log

# Arquivos temporários
tmp/
temp/ 